

.chat-window {
  display: block;
  width: 100%;
  padding: 20px;
}

.chat-message {
  display: grid;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;

  grid-template-columns: 48px 1fr;
}

.chat-message.user {
  direction: ltr;
}

.chat-message.bot {
  direction: rtl;
}



.message-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  color: var(--text);
  background-color: var(--message);
  border-radius: 8px;
}

.message-box span {
  flex-grow: 1;
}

.message-box .pi-volume-up {
  padding-left: 8px;
  margin-left: auto;
  color: var(--text);
}



.chat-message.user .message-box {
  position: relative;
  display: grid;
  padding: 10px;
  margin-bottom: .5rem;
  color: var(--text);
  font-size: 14px;
  word-wrap: break-word;
  background-color: var(--message);
  border: 1px solid #ccc;
  border-radius: 10px;

  grid-template-columns: 1fr 20px;
}
.chat-message.bot .message-box {
  position: relative;
  display: grid;
  padding: 10px;
  margin-bottom: .5rem;
  color: var(--text);
  font-size: 14px;
  word-wrap: break-word;
  background-color: var(--message);
  border: 1px solid #333;
  border-radius: 10px;

  grid-template-columns: 1fr 20px;
}

.logo-message {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  width: 100%;
}

.message-icons {
  display: flex;
  /*justify-content: flex-end;*/
  /*padding: 8px 0;*/
  /*margin-top: 8px;*/

  column-gap: 8px;
  gap: 8px;
}
.botaoIcone2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 15px;
  padding: 0;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botaoIcone2:hover {
  background-color: #e1ffc76b;
}

.menuOpcoes {
  z-index: 1000;
  /* background-color: #f1f1f1; */
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 8px;
}

.menuOpcoes span {
  margin-bottom: .4rem;
  margin-left: .4rem;
  color: black;
}
.message-box-bot {
  text-align: left;
  background-color: var(--bot-message-bg);
}



.volume-icon {
  padding-left: 8px;
  margin-left: auto;
}
