.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.input-container .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}